<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top first-nav" id="loginNavbar">
  <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-left" id="navbar-responsive">
          <li class="nav-item active">
              <a class="navbar-brand" href="#">
                  <img src="/assets/Images/IHP.PNG" alt="Logo" id="navLogo" />
              </a>
              <div class="blue-rectangle-logo" id="homeSelect"></div>
          </li>
          <li class="nav-item topNavItem">
              <a class="nav-link" href="#" id="enrollButton">Enroll</a>
              <div class="navbar-highlighted" id="enrollSelect"></div>
          </li>
          <li class="nav-item topNavItem">
              <a class="nav-link" href="#" id="manageButton">Manage</a>
              <div class="navbar-highlighted" id="manageSelect"></div>
          </li>
          <li class="nav-item topNavItem">
              <a class="nav-link" href="#" id="measureButton">Measure</a>
              <div class="navbar-highlighted" id="measureSelect"></div>
          </li>
      </ul>
  </div>
  <div class="row justify-content-md-right">
      <div class="column">
          <p class="profile">Cordelia Miles</p>
          <p class="profile">Health Plan Account Manager</p>
      </div>
      <button class="btn btn-light">
          <img src="/assets/Images/Avatar.PNG" href="http://www.google.com" />
      </button>
  </div>
</nav> -->
<div class="p-grid p-align-center ">
<a class="p-col-1">
  <img src="/assets/Images/IHP.PNG" alt="Logo" id="navLogo" />
</a>
<p-menubar [model]="items" class="p-col-6">
</p-menubar>
<div class="p-col">
  <div class="p-grid p-justify-end p-align-center">
  <div class="p-col-7">
      <p class="profile">Cordelia Miles</p>
      <p class="profile">Health Plan Account Manager</p>
  </div>
  <button class="p-col-2" id="headerbtn">
      <img src="/assets/Images/Avatar.PNG" href="http://www.google.com" />
  </button>
  </div>
</div>
</div>

<!-- <div class="navbar navbar-expand-lg navbar-blue bg-blue shadow sticky-top second-nav secondNavbar navbar-subheader"
  id="enrollBar">
  <ul class="navbar-nav ml-left" id="navbar-responsive">
      <li class="nav-item topNavItem">
          <a class="nav-link sub-header-inactive" href="/Enroll/overview.html" id="enrollOverview">Overview</a>
      </li>
      <li class="nav-item topNavItem">
          <a class="nav-link sub-header-inactive" href="/Enroll/issues.html" id="enrollIssues">Issues</a>
      </li>
      <li class="nav-item topNavItem">
          <a class="nav-link sub-header-inactive" href="/Enroll/Outreach.html" id="enrollOutreach">Outreach</a>
      </li>
  </ul>
</div>
<div class="navbar navbar-expand-lg navbar-blue bg-blue shadow sticky-top second-nav secondNavbar navbar-subheader"
  id="manageBar">
  <ul class="navbar-nav ml-left" id="navbar-responsive">
      <li class="nav-item topNavItem">
          <a class="nav-link sub-header-inactive" href="/Manage/Members.html" id="manageMembers">Members</a>
      </li>
      <li class="nav-item topNavItem">
          <a class="nav-link sub-header-inactive" href="/Manage/Network.html" id="manageNetwork">Network</a>
      </li>
      <li class="nav-item topNavItem">
          <a class="nav-link sub-header-inactive" href="/Manage/Admin.html" id="manageAdmin">Admin</a>
      </li>
  </ul>
</div>
<div class="navbar navbar-expand-lg navbar-blue bg-blue shadow sticky-top second-nav secondNavbar navbar-subheader"
  id="measureBar">
  <ul class="navbar-nav ml-left" id="navbar-responsive">
      <li class="nav-item topNavItem">
          <a class="nav-link sub-header-inactive " href="/Measure/Members.html" id="measureMembers">Members</a>
      </li>
      <li class="nav-item topNavItem">
          <a class="nav-link sub-header-inactive" href="/Measure/Network.html" id="measureNetwork">Network</a>
      </li>
      <li class="nav-item topNavItem">
          <a class="nav-link sub-header-inactive" href="/Measure/Costs.html" id="measureCosts">Costs</a>
      </li>
  </ul>
</div> -->

<!--Logic: to be removed upon Angular Implementation-->

<!-- <script src="/assets/Javascript/navbarJS.js"></script> -->
